{% extends 'cms/base.html' %}
{% block content %}
  <h2>Dodaj tłumaczenie </h2>

  <form method="post">
    {% csrf_token %}
    <p>
        Kod tłumaczenia: <span class="fw-bold">{{ translationBaseForm.code }}</span>
    </p>

    {% for form in translationForms %}
        <div class="col-lg-12 row m-3">
            <div class="col-lg-4 text-right">
                {{ form.instance.locale.iso|upper }}
            </div>
            <div class="col-lg-8">
                {{ form.translation }}
            </div>
        </div>
    {% endfor %}

    <button type="submit">
        Zapisz
    </button>
  </form>
{% endblock %}