{% extends 'cms/base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tekst</th>
                <th>Autor</th>
                <th>Język</th>
            </tr>
        </thead>
        <tbody>
            {% for expected_text in expected_texts %}
                <tr>
                    <td>
                        {{ expected_text.id }}
                    </td>
                    <td>
                        {{ expected_text.text }}
                    </td>
                    <td>
                        {% if expected_text.author %}
                            {{ expected_text.author.name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {{ expected_text.locale.name }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}