{% extends 'cms/base.html' %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tekst</th>
                <th>Autor</th>
                <th>Język</th>
                <th>
                    <a class="text-decoration-none" href="{% url 'cms_create_expected_text' %} ">
                        <button class="btn btn-success">
                            Dodaj
                        </button>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for expectedText in expectedTexts %}
                <tr>
                    <td>
                        {{ expectedText.id }}
                    </td>
                    <td>
                        {{ expectedText.text }}
                    </td>
                    <td>
                        {% if expectedText.author %}
                            {{ expectedText.author.name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {{ expectedText.locale.iso }}
                    </td>
                    <td>
                        <a class="text-decoration-none" href="{% url 'cms_update_expected_text' expected_text_id=expectedText.id %}">
                            <button class="btn btn-primary">
                                Edytuj
                            </button>
                        </a>
                        <a class="text-decoration-none" href="{% url 'cms_delete_expected_text' expected_text_id=expectedText.id %}">
                            <button class="btn btn-danger">
                                Usuń
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}